@import 'font';
@import 'font-roboto';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto';
}

.content {
  margin: 0 37px;
}

@media (min-width: 768px) {
  .content {
    margin: 0 80px;
  }
}

@media (min-width: 1280px) {
  .content {
    margin: 0 140px;
  }
}
