.action {
  grid-column: 1/-1;
  // display: grid;
  // grid-gap: 1rem;
  display: flex;
  justify-content: center;
}

%action__button {
  flex-grow: 1;
  padding: 1rem;
  border-radius: 2rem;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
  position: relative;
  overflow: hidden;
  transition: 250ms;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
  }
}

.action__button--chat {
  @extend %action__button;
  background-color: #d58c20;
}

.action__button--subscribe {
  @extend %action__button;
  background-color: #d52027;
}

.action__button--watch {
  @extend %action__button;
  background-color: #2088d5;
}

.action__button--start {
  @extend %action__button;
  background-color: #5c20d5;
}

@media (min-width: 768px) {
  .action {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1280px) {
  .action {
    grid-template-columns: repeat(2, 1fr);
  }
}