.intro
  .intro__head
    .intro__logo
      .cas-logo
    .intro__company CodeTap Academy
  .intro__hero
    h1.intro__title From Zero to Hired!
    h2.intro__subtitle We get you hired as quickly as possible
    p.intro__description Over 30 jobs or promotions through CodeTap Academy Mentoring
